:root {
  --plyr-color-main: #2e3ee8;
  --plyr-control-icon-size: 12px;
  --plyr-control-spacing: 5px;
  --plyr-audio-controls-background: #00155e;
  --plyr-audio-control-color: #fff;
  --plyr-audio-control-color-hover: var(--color-gray-200);
}

.player-wrapper {
  background: var(--color-main-darker);
}

.player-wrapper .container {
  display: flex;
  align-items: center;
}

.plyr__controls {
  justify-content: flex-start !important  ;
}

.plyr__progress,
.plyr__time,
.plyr__menu,
.plyr__progress__container {
  display: none !important;
}

iframe {
  height: 30px;
  display: block;
  padding: 0;
}

iframe body {
  border: 0;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.plyr__controls__item:first-child {
  margin-right: 0 !important;
}

.radio-paz {
  color: var(--color-gray-100);
  margin-left: 4rem;
}

@media (max-width: 1000px) {
  .radio-paz {
    display: none;
  }
}
